h1 {
    color: purple;
  }
  p {
    color: red;
  }
  body {
    background-color: dodgerblue;
  }
  .purple-text {
     color: purple;
  }
  .important {
    font-weight:bold;
  }
  #lead-paragraph {
    color: purple; font-weight: bold;
  }
  .important:hover {
    background-color:pink;
  }
  p.important {
    width: 75%;
  }
  a[href="https://imagecomics.com/"] {
    background-color: orange;
    padding: 1rem;
  }
  a[href="http://storm.wnba.com/"] {background-color: blue;
  }
  h1 {
    color: red;
    border-style: solid;
    border-width: 1px;
    border-color: red;
  }

  img {
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    width:25%;
  }

  h1 {
    position: static; /* Default position */
    /* position: relative;
    use top, left, bottom or left.
    Not removed from the flow of the page */
    /* right: 30px; */
    /* relative to its parent element, overlaps other elements
    position: absolute;
    left: 100px;
    top: 200px;*/
    /* Fixed - element is positioned relative to the browser window
    is removed from the flow of the page */
    position: fixed;
    left: 220px;
    top: 300px;
    /* z-index - control the order of elements on a page,
    the default value is 0
    z-indes place element higher or lower in stack of overlapped elements */
    z-index: -1;
  }
  a {
    position: fixed;
    z-index: 1;
  }
